#<vendor.config:1.0>

# section name
[whisperingchaos.bash.component]
# save to local    
# directory                                                              github address to repository                           branch/tag/hash
$PWD/config_test_sh/file/vendor_absolute_path/absolute_1/absolute_1     'https://github.com/WhisperingChaos/sourcer.sh'        'master'
'absolute_1'																														'https://github.com/WhisperingChaos/assert.source.sh'  '9c4806e49bee4166b056aa627d1255549b1a4920'
'.'         																														'https://github.com/WhisperingChaos/assert.source.sh'  '9c4806e49bee4166b056aa627d1255549b1a4920'
