#<vendor.config:1.0>
###############################################################################
#
#	Purpose:
#		https://github.com/WhisperingChaos/config.sh/blob/master/vendor.config
#
############################################################################### 
[whisperingchaos.bash.component] --strip-component=1 --wildcards --no-wildcards-match-slash --anchor --include='*/component'
'base'			'https://github.com/WhisperingChaos/assert.include.sh'	 'master'
[whisperingchaos.bash.component.executable] --strip-component=2 --wildcards --no-wildcards-match-slash --anchor --include='*/component'
'composer'	'https://github.com/WhisperingChaos/composer.sh'		 'master'
