#<vendor.config:1.0>
###############################################################################
#
#	Purpose:
#		https://github.com/WhisperingChaos/config.sh/blob/master/component/vendor.config
#
############################################################################### 
[whisperingchaos.bash.component] --strip-component=2 --wildcards --no-wildcards-match-slash --anchor '*/component'
'base'		'https://github.com/WhisperingChaos/assert.include.sh'	 'master'
'composer'	'https://github.com/WhisperingChaos/composer.sh'		 'master'
