# ignore temporary files #
##########################
*.swp
*~

# ignore vendored components - ones contributed by other repositories #
#######################################################################
test/base
test/includer
test/config
component/composer
