#<vendor.config:1.0>
###############################################################################
#
#	Purpose:
#		Defines components that are used to create the current component. Given
#		this definition, the script: config.sh will download from github and
#		install the component a local directory.
#
#		A dependent component may also represent an aggregrated component too.
#		In this case, a vendor.config file its "onceptual" root directory can
#		be recursively processed to configure this dependent (sub) component.
#
#	Usage:
#		There are two "types" vendor.config files:
#		> Static  - A text file whose contents are directly consumed by config.sh.
#		> Dynamic - A shell file, that's executed as a subprocess by config.sh,
#		whose captured STDOUT conforms to the format defined for the static
#		file. Dynamic execution constructs the contents of vendor.config
#		using the facilities of any programming language.
#
#	File Format/Interface:
#		> File must include a banner that complies with the following regex:
#			^[[:space:]]*#<vendor\.config:([[:alnum:]]+[.-][[:alnum:]]+)+>$ 
#			For statically defined files, this mark must appear as first
#			line in the file.
#			For dynamically defined files, this mark must appear after either
#			>  the shebang #!/bin/bash will attempt to invoke a bash shell.
#			>  the shebang #!/bin/sh will attempt to invoke some shell.
#			in the file.ddd
#		> An entry is a row with the following columns:
#			Relative Path - a path specified relative to the directory containing
#							the vendor.config file
#			Github Repro Path -	a github routing specification used to locate
#							the desired component's repro.
#			Branch/Tag/Commit Hash - a git label that specifies the desired
#							component's repro version.
#			So far, all columns must be assigned a value.	 	
#		> The content of each row will be evaluated permitting the usage of
#			mechanisms like environment variables.
#       > If colum values contain spaces then they must be encapsulated in
#			single or double quotes.

#
#	Notes:
#		> Besides defining a components dependent components, the format of this
#		file describes an interface.  Therefore, any process that generates
#		this interface can be executed to dynamically produce the contents of
#		this file.  Dynamic execution permits, for example, the use of
#		"aliases", such as environment variables, when defining the file
#		that are expanded by the process before streamed to the consuming
#		config.sh script.
#
#		To 
#	Notes:
#		> File must include a tag with following
#			format: ( ^#<vendor\.config:{version}>$ ) . The tag appear anywhere
#			in the file.
#		> An entry is a row with the following columns:
#			Relative Path - a path specified relative to the directory containing
#							the vendor.config file
#			Github Repro Path -	a github routing specification used to locate
#							the desired component's repro.
#			Branch/Tag/Commit Hash - a git label that specifies the desired
#							component's repro version.
#			So far, all columns must be assigned a value.	 	
#		> The content of each row will be evaluated permitting the usage of
#			mechanisms like environment variables.
#       > If colum values contain spaces then they must be encapsulated in
#			single or double quotes.
#		> Column values must be separated by at least one whitespace.
#		> Comments ( ^[:space:]*# ) and blank lines ( ^[:space:]*$ ) are ignored.
#
############################################################################### 
  
'composer'  'https://github.com/WhisperingChaos/composer.sh'  'master'
