#<vendor.config:1.0>
###############################################################################
#
#	Purpose:
#		Defines components that are used to create the current component.
#
#	Notes:
#		> File must include a tag with following
#			format: ( ^#<vendor\.config:{version}>$ ) . The tag appear anywhere
#			in the file.
#		> An entry is a row with the following columns:
#			Relative Path - a path specified relative to the directory containing
#							the vendor.config file
#			Github Repro Path -	a github routing specification used to locate
#							the desired component's repro.
#			Branch/Tag/Commit Hash - a git label that specifies the desired
#							component's repro version.
#			So far, all columns must be assigned a value.	 	
#		> The content of each row will be evaluated permitting the usage of
#			mechanisms like environment variables.
#       > If colum values contain spaces then they must be encapsulated in
#			single or double quotes.
#		> Column values must be separated by at least one whitespace.
#		> Comments ( ^[:space:]*# ) and blank lines ( ^[:space:]*$ ) are ignored.
#
############################################################################### 
  
'composer'  'https://github.com/WhisperingChaos/include.composer.sh'  'master'
